/** HEADER */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.title-homepage {
  width: 58px;
  transition: all 0.9s ease !important;
}
.vazri {
  font-family: "Vazir" !important;
}
.white {
  color: white !important;
}
#nav-header .nav-item a {
  color: white;
  font-size: 14px;
}
.navbar i {
  color: white;
}

.menu-header {
  padding: 25px 100px 25px 0px !important;
}

/** MAIN-HEADER */

.landing-content {
  padding: 35px 0 50px;
}
.landing-header h2 {
  font-family: "Vazir" !important;
  display: none;
  margin: 0 auto 5px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 20px;
  word-spacing: -2px;
}

.landing-header span {
  font-size: 20px !important;
}
.landing-header {
  color: #fff !important;
}

.landing-header span {
  font-size: 24px;
}

#search-input {
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 3rem;
  height: 50px;
  top: 9px;
  right: 7px;
  left: 7px;
}

#search-input:focus {
  outline: none !important;
  border-color: #909090;
  box-shadow: 0 0 10px #909090;
}

.landing-search {
  width: 100%;
  padding: 30px 30px;
  max-width: 600px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.statistic-img {
  width: 140px;
}

span.title {
  font-family: "Vazir" !important;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  position: relative;
  top: -5px;
}

#nav-header .nav-link {
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Vazir";
  transition: all 0.5s ease-in-out;
}
.hoverblue:hover {
  color: darkturquoise !important;
}

/** MAIN  */
/* .headBannerImg {
    width: 40px;
    height: 40px;
} */

.img-banner {
  width: 100% !important;
  height: auto;
  border-radius: 5px;
}
.last-courses-layer  {
  padding: 70px 0 30px;
}
.carousel-item img {
  max-width: 100%;
  border-radius: 10px;
  vertical-align: middle;
}

/* #main-menu > ul > li > a {
  display: flex;
  font-size: 15px;
  line-height: 30px;
  padding: 15px 0 22px;
  color: #1e2f38;
}
#main-menu ul .dropdown .dropdown-toggle {
  transition: all 0.4s;
}
#main-menu ul li a:hover,
#main-menu ul .dropdown .dropdown-toggle:hover {
  color: #00bffe !important;
}

#dropdown-menu a p {
  color: #1e2f38;
  transition: all 0.3s;
}

#dropdown-menu {
  width: 210px;
}

#dropdown-menu li,
a {
  transition: 0.5s;
  color: #1e2f38;
  font-size: 15px;
  transition: all 0.4s;
}

#dropdown-menu li:hover,
#dropdown-menu a p:hover,
#dropdown-menu a p > span:hover {
  color: #00bffe;
}
#dropdown-menu .dropdown-item {
  position: relative;
}

#mobile-dev,
#web-dev,
#frontend,
#database,
#windows,
#os,
#graphic {
  background-color: #fff;
  right: 160px;
  top: -10px;
  display: none;
  z-index: 10;
}
#dropdown-menu .dropdown-item:hover #mobile-dev,
#dropdown-menu .dropdown-item:hover #web-dev,
#dropdown-menu .dropdown-item:hover #frontend,
#dropdown-menu .dropdown-item:hover #database,
#dropdown-menu .dropdown-item:hover #windows,
#dropdown-menu .dropdown-item:hover #os,
#dropdown-menu .dropdown-item:hover #graphic {
  display: block;
}

#fa-circle {
  font-size: 5px !important;
} */

/** Swiper */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: auto !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.headline h2 {
  position: relative;
  font-family: Vazir;
  font-size: 18px;
  display: flex;
  padding-right: 45px;
  font-weight: 700;
}

.headline h2:after {
  width: 32px;
  height: 5px;
  border-radius: 25px;
  background-color: #00bffe;
  position: absolute;
  right: 0;
  top: 9px;
  content: "";
}
.headline h2::before {
  width: 2000px;
  height: 5px;
  border-radius: 25px;
  background-color: rgb(0, 191, 254, 0.2);
  position: absolute;
  right: -1990px;
  top: 9px;
  content: "";
}

.img-layer {
  width: 100%;
  display: block;
  height: 180px !important;
}
@media screen and (min-width: 481px) and (max-width: 991px) {
  .col-xs-6 {
    width: 50% !important;
  }
}

/** CARD */
.card-title-style {
  line-height: 40px !important ;
  height: 40px !important ;
  font-size: 14px !important ;
  color: #1e2f38 !important ;
  overflow: hidden !important ;
  text-overflow: ellipsis !important ;
  white-space: nowrap !important ;
  display: block !important ;
  text-decoration: none !important ;
}
.card-detail {
  width: auto !important ;
  display: inline-table !important ;
  white-space: nowrap !important ;
  font-size: 13px !important ;
  color: #778286 !important ;
  line-height: 25px !important ;
  /* padding-left: 20px !important ; */
  /* border-bottom: 1px solid black; */
}
.card-icon {
  font-size: 17px;
  color: #d2dbdf;
}

.card-detail:hover {
  color: #6fc341 !important;
}
.text-price {
  color: #6fc341;
}

.text-time {
  color: #00b3e9;
}

.box-shadow {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.box-shadow::before {
  width: 70px;
  height: 70px;
  background: url("../../src/assets/circle-bg.svg") no-repeat left bottom;
  position: absolute;
  content: "";
  left: -1px;
  bottom: 61px;
}
/** Blogs */
.suggested-courses-layer {
  padding: 20px 0 70px;
}

.article-col {
  border-radius: 10px;
}
.last-articles-layer {
  width: 100%;
  padding: 85px 0 60px;
  position: relative;
  background: url("https://toplearn.com/site/images/article-pattern.png") repeat
    0 0 #f6f9fa;
}
.article-col img {
  width: 100%;
  display: block;
  height: 220px !important;
}
.article-title{
    padding: 11px 15px 2px;
    position: relative;
    z-index: 10;
}
.article-title-h2 {
  line-height: 40px;
  height: 40px;
  font-size: 14px;
  color: #1e2f38;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-weight: bold;
}
.article-top p {
  font-size: 13px;
}

.article-bottom {
  font-size: 14px;
}
.article-bottom .left i,
span {
  font-size: 14px;
}
.article-text {
  color: #686e71;
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  margin: 0;
  padding: 0 15px;
  height: 55px;
  overflow: hidden;
}

.hoverGreen:hover > * {
  color: #6fc341 !important;
}

/** FOOTER  */


@media screen and (max-width: 980px) {
    .newsletter-form {
      width: 100%;
    }
  }
  
  .newsletter-layer {
    width: 100%;
    padding: 47px 0 45px;
    background: url("https://toplearn.com/site/images/footer-pattern.png") repeat
      0 0 #153248;
  }
  
  .newsletter-form {
    display: none;
  }
  
  .newsletter-layer .namad-layer img {
    width: 86px;
    height: 100px;
  }
  
  .namad-layer img {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    width: 120px;
    margin: 0 7px;
  }
  img {
    max-width: 100%;
  }
  
  .newsletter-form form {
    /* position: relative; */
    border-radius: 5px;
    /* -moz-border-radius: 5px;
      -webkit-border-radius: 5px; */
    padding: 11px;
    margin: 0;
    width: 100%;
    border: 2px dashed #334d60;
  }
  .input-layer {
    width: 40%;
    /* position: relative; */
  }
  
  .mobile-icon,
  .mail-icon {
    font-size: 17px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 45px;
    width: 45px;
    text-align: center;
    color: #d2dbdf;
    z-index: 100;
  }
  
  .input-layer input {
    position: relative;
    width: 100%;
    padding: 0 40px 0 0px;
    height: 45px;
    font-size: 13px;
    /* line-height: 45px; */
    /* background-clip: #fff; */
    border: 0;
    z-index: 1;
    display: block;
  }
  
  /* .first-input {
      border-left: 1px solid #edf3f6;
    } */
  .inner-button {
    width: 20%;
  }
  .inner button {
    width: 100%;
    padding: 0 7px;
    font-size: auto;
    word-spacing: -2px;
    height: 45px;
    /* line-height: 45px; */
  
    border: 0;
    color: #fff;
    background-color: #6fc341;
    text-align: start;
    font-family: Vazir;
  }
  
  .input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
      .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    z-index: 1;
  }
  
  .top-footer {
    background-color: #153248;
    padding: 18px 0 24px;
  }
  .top-footer .container {
    padding: 0 15px;
  }
  
  .top-footer .container .menu-layer ul li {
    display: inline-block;
    padding-left: 15px;
  }
  
  .menu-layer ul li::before {
    content: "•";
    color: #00bffe;
    /* display: inline-block; */
    /* width: 1em; */
    /* margin-left: 3px; */
  }
  
  .menu-layer ul li a {
    padding: 0px 4px 5px 10px;
    font-size: 13px;
    color: #fff;
    position: relative;
    line-height: 46px;
    text-decoration: none;
    margin: 10px 0;
  }
  
  .menu-layer ul li a:hover {
    color: #00bffe !important;
  }
  .newsletter-form {
    width: 100%;
    /* float: none; */
  }
  .socials-layer a {
    background-color: #23425a;
    /* width: 35px;
      height: 35px; */
    /* border-radius: 100%; */
    /* -moz-border-radius: 100%;
      -webkit-border-radius: 100%; */
    text-align: center;
    /* line-height: 35px; */
    padding: 11px 12px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.3s linear;
  }
  .socials-layer a:hover {
    background-color: #335671;
  }
  .socials-layer a img {
    width: 25px !important;
    height: 25px !important;
  }
  
  .copyright-text {
    font-size: 13px;
  }
  
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
  #main-menu {
    font-size: 14px;
    font-family: "Vazir";
  }
  