/** HEADER */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.title-homepage {
  width: 58px;
  transition: all 0.9s ease !important;
}
.vazri {
  font-family: "Vazir" !important;
}
.white {
  color: white !important;
}
#nav-header .nav-item a {
  color: white;
  font-size: 14px;
}
.navbar i {
  color: white;
}

.menu-header {
  padding: 25px 100px 25px 0px !important;
}

/** MAIN-HEADER */

.landing-content {
  padding: 35px 0 50px;
}
.landing-header h2 {
  font-family: "Vazir" !important;
  display: none;
  margin: 0 auto 5px;
  width: 100%;
  text-align: center;
  font-size: 26px;
  line-height: 35px;
  margin-bottom: 20px;
  word-spacing: -2px;
}

.landing-header span {
  font-size: 20px !important;
}
.landing-header {
  color: #fff !important;
}

.landing-header span {
  font-size: 24px;
}

#search-input {
  position: absolute;
  width: auto;
  height: auto;
  border-radius: 3rem;
  height: 50px;
  top: 9px;
  right: 7px;
  left: 7px;
}

#search-input:focus {
  outline: none !important;
  border-color: #909090;
  box-shadow: 0 0 10px #909090;
}

.landing-search {
  width: 100%;
  padding: 30px 30px;
  max-width: 600px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.statistic-img {
  width: 140px;
}

span.title {
  font-family: "Vazir" !important;
  font-size: 15px;
  line-height: 15px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  position: relative;
  top: -5px;
}

#nav-header .nav-link {
  color: #fff !important;
  font-size: 14px !important;
  font-family: "Vazir";
  transition: all 0.5s ease-in-out;
}
.hoverblue:hover {
  color: darkturquoise !important;
}

/** MAIN  */
.headBannerImg {
  width: 40px;
  height: 40px;
}

.last-courses-layer header {
  padding: 70px 0 30px;
}
.carousel-item img {
  max-width: 100%;
  border-radius: 10px;
  vertical-align: middle;
}

#main-menu > ul > li > a {
  display: flex;
  font-size: 15px;
  line-height: 30px;
  padding: 15px 0 22px;
  color: #1e2f38;
}
#main-menu ul .dropdown .dropdown-toggle {
  transition: all 0.4s;
}
#main-menu ul li a:hover,
#main-menu ul .dropdown .dropdown-toggle:hover {
  color: #00bffe !important;
}

#dropdown-menu a p {
  color: #1e2f38;
  transition: all 0.3s;
}

#dropdown-menu {
  width: 210px;
}

#dropdown-menu li,
a {
  transition: 0.5s;
  color: #1e2f38;
  font-size: 15px;
  transition: all 0.4s;
}

#dropdown-menu li:hover,
#dropdown-menu a p:hover,
#dropdown-menu a p > span:hover {
  color: #00bffe;
}
#dropdown-menu .dropdown-item {
  position: relative;
}

#mobile-dev,
#web-dev,
#frontend,
#database,
#windows,
#os,
#graphic {
  background-color: #fff;
  right: 160px;
  top: -10px;
  display: none;
  z-index: 10;
}
#dropdown-menu .dropdown-item:hover #mobile-dev,
#dropdown-menu .dropdown-item:hover #web-dev,
#dropdown-menu .dropdown-item:hover #frontend,
#dropdown-menu .dropdown-item:hover #database,
#dropdown-menu .dropdown-item:hover #windows,
#dropdown-menu .dropdown-item:hover #os,
#dropdown-menu .dropdown-item:hover #graphic {
  display: block;
}

#fa-circle {
  font-size: 5px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: auto !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.img-banner {
  width: 100% !important;
  height: auto;
  border-radius: 5px;
}

.headline h2 {
  position: relative;
  font-family: Vazir;
  font-size: 18px;
  display: flex;
  padding-right: 45px;
  font-weight: 700;
}

.headline h2:after {
  width: 32px;
  height: 5px;
  border-radius: 25px;
  background-color: #00bffe;
  position: absolute;
  right: 0;
  top: 9px;
  content: "";
}
.headline h2::before {
  width: 2000px;
  height: 5px;
  border-radius: 25px;
  background-color: rgb(0, 191, 254, 0.2);
  position: absolute;
  right: -1990px;
  top: 9px;
  content: "";
}

.img-layer {
  width: 100%;
  display: block;
  height: 180px !important;
}
@media screen and (min-width: 481px) and (max-width: 991px) {
  .col-xs-6 {
    width: 50% !important;
  }
}
